[
 { rabbit,
  [

{% if rabbitmq_tls == true  %}

    {  ssl_options, [{cacertfile, /etc/rabbitmq/certs/ca.pem}
                           {certfile,             "/etc/rabbitmq/certs/cert.pem"},
                           {keyfile,              "/etc/rabbitmq/certs/key.pem"},
                           {verify,               verify_peer},
                           {fail_if_no_peer_cert, true}             
    ] },
{% endif %}

{% if rabbitmq_cluster == true %}

   { cluster_nodes, { [{% for node in ansible_play_hosts %}'rabbit@{{ hostvars[node]['ansible_hostname'] }}'{% if not loop.last %},{% endif %}{% endfor %}], disc}}
{% endif %}
  ]}
].
